/*#0e0e0e - very dark gray*/ 
/*#ffffff - white*/
/*#d3d3d3 - light gray*/
/*#b0b0b0 - slightly darker gray*/
/*#808080 - darker gray*/

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto','Helvetica Neue', Arial, sans-serif;
  background-color: #0e0e0e;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
